@import "variables"
    
@font-face
    font-family: "Poppins"
    src: url("assets/Poppins-Black.ttf")

header
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0px 64px

*
    color: inherit
    margin: 0

body
    font-family: "Poppins"
    background-color: #181818

ul
    padding: 0
    list-style-type: none

h1
    color: $main-color
    font-family: "Poppins"
    text-align: center

a
    text-decoration: none
    color: white
    margin-left: 2rem
    &:hover
        color: #282c47

img
    max-width: 100%

.home_img
    width: 100vw
    height: 40vw
    position: absolute
    top: 0
    z-index: -10
