@import "variables"
    
@font-face
    font-family: "Poppins"
    src: url("assets/Poppins-Black.ttf")

header
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0px 64px

*
    color: inherit
    margin: 0
    box-sizing: border-box

body
    font-family: "Poppins"
    background-color: #181818

ul
    padding: 0
    list-style-type: none

h1
    color: $main-color
    font-family: "Poppins"
    text-align: center

a
    text-decoration: none
    color: white
    margin-left: 2rem
    &:hover
        color: #282c47

.container 
    display: grid
    width: 100vw
    height: 100vh
    background-image: url("assets/background_mountain.jpg")
    background-repeat: no-repeat
    background-size: cover
    grid-template-columns: 150px 1fr 150px
    grid-template-rows: 150px 1fr 150px
    gap: 0px 0px
    grid-auto-flow: row
    grid-template-areas: ". news ." "about content contact" ". projects ."

.projects
    grid-area: projects
    border: 2px solid black

.about
    grid-area: about
    border: 2px solid black

.contact
    grid-area: contact
    border: 2px solid black


.news 
    grid-area: news
    border: 2px solid black
